IdeaIC14/config/tasks/*
*.pyc
wget-log

*install/google-chrome-stable*

install/linux_signing_key*

node_modules
npm-debug.log

*/tmp

*/*google-chrome-stable_current*

scripts/*
jupyter

*:Zone.Identifier

package.json

.DS_Store
