[boot]
# works together with this fix:
# https://github.com/microsoft/WSL/issues/8952#issuecomment-1572193568
systemd=true
[automount]
enabled = true
[network]
hostname=${HOSTNAME}
generateHosts=false
