"*":
  "agda-mode":
    agdaPath: "/usr/local/bin/agda                     "
    maxBodyHeight: 102
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 21
    invisibles: {}
    scrollPastEnd: true
  "exception-reporting":
    userId: "cea9446d-6db1-9ae1-30db-0ab66ba561d8"
  welcome:
    showOnStartup: false
  "you-complete-me": {}
